@import "./assets/css/preview";
@import "./assets/css/search";
@import "./assets/css/header.scss";
@import "./assets/css/pagination.scss";
@import "./assets/css/filter.scss";

.app {
    margin:auto auto;
    display: flex;
    height:100vh;
    > div {
        width:50%;
    }
}

.table__container {
    padding: 1em;
    min-height:475px;
}
table {
    width:100%
} 

tr {
    cursor: pointer;
}
tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: #d8edf7;}
  
th {
    background:#666;
    color:#fff;
} 
  
td {
    padding:5px;
}
 
select {
    width:32%;
    height: 24px;
    font-size: 18px;
    padding:2px;
    border:0;
}

button {
    width: 50%;
}