.App {
    max-width:885px;
    margin:auto auto;
}
  
table {
    width:100%
} 
  
th {
    background:#666;
    color:#fff;
} 
  
td {
    padding:5px;
}
 
select {
    width:32%;
    height: 24px;
    font-size: 18px;
    padding:2px;
    border:0;
}

button {
    width: 50%;
}
.pagination__container {
    button {
        width: 40%;
    }
    .pagination__index {
        margin: 5%;
    }
}

.search__container {
    position: relative;
    
    input {
        width:100%;
        height: 24px;
        font-size: 18px;
        padding:2px;
        border:0;
    }
}
.search__container	i {
	position: absolute;
	width: 1px;
	height: 45%;
	background-color: gray;
	top: 10%;
	animation-name: blink;
	animation-duration: 800ms;
	animation-iteration-count: infinite;
	opacity: 1;
}

.search__container input:focus + i {
	display: none;
}

@keyframes blink {
	from { opacity: 1; }
	to { opacity: 0; }
}

.filter__control {
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    color: blue;
}